* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.bg {
    background-image: url(images/design.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(70%) blur(2px);
    -webkit-filter: grayscale(90%) blur(1px);
    z-index: -99;
}

.con {
    z-index: 1;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 12px 0 white;
}

.img-con {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px 0 black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.login-form {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}

h1 {
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    border-bottom: 2px solid black;
}

.col2 {
    width: calc(100% / 2 - 1%);
    display: inline-block;
    vertical-align: middle;

}

.user {
    margin-top: 5px;
}

input {
    width: 175px;
    height: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.btn {
    background-color: gray;
    color: white;
    padding: 7px 14px;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.border-left {
    margin-top: 20px;
    border-left: 2px solid gray;
}